/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}

/* ------------------------------------ */
a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/* ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin-top: 40px;
}
.navbar {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  font-weight: unset;
  text-align: left;
  align-items: space-between;
}
.centre {
  text-align: center;
  vertical-align: middle;
}
.navbar-desktop {
  margin-left: auto;
}
.navbar-search {
  margin-left: auto;
  margin-right: auto;
}
.fixed-top {
  margin-bottom: auto;
}
.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1070px;
  margin-bottom: auto;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: rgba(252, 255, 47, 0.493);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: context-menu;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: rgba(252, 255, 47, 0.062);
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: black;
  line-height: 1.2;
  font-weight: unset;
}

/*tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}*/

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 260px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: white;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Name :";
  }
  table tbody tr td:nth-child(2):before {
    content: "Amount :";
  }
  table tbody tr td:nth-child(3):before {
    content: "City :";
  }
  table tbody tr td:nth-child(4):before {
    content: "Actions :";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Modal styles */
.modal-content {
  border: none;
  position: relative;
  padding: 50px !important;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background: #c859ff;
  background: -moz-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #c859ff),
    color-stop(100%, #ffab8c)
  );
  background: -webkit-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
  background: -o-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
  background: -ms-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
  background: linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c859ff', endColorstr='#ffab8c', GradientType=1 );
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.modal .modal-body,
.modal .modal-footer {
  padding: "justify center";
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-header {
  display: inline-block;
}

.modal .modal-title {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
  margin-top: auto;
  margin-bottom: auto;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}

/*table style*/

table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table td a:hover {
  color: #2196f3;
}
table td a.edit {
  color: #ffc107;
}
table td a.delete {
  color: #f44336;
}
table td i {
  font-size: 19px;
}
table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/*   button styling*/
.editButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: black;
  width: 40%;
  height: 40px;
  background-color: rgba(255, 255, 0, 0.589);
  border-radius: 20px;
}

.editButton:active {
  background-color: rgba(200, 255, 0, 0.664);
}
.editButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.close:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*---- delete alert */

.alert {
  content: attr(display-message);
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: yellow;
}

/*--CSS loader*/
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*---Skeleton loading-*/
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 50%;
  height: 10px;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/*--Pagination--*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 400px;
}

.controls-item {
  display: inline-block;
}

.btn {
  background-color: black;
  margin: 1px;
}
.btn:active {
  background-color: rgba(200, 255, 0, 0.664);
}
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* auto complete*/

.autocomplete-items {
  /*when navigating through the items using the arrow keys:*/
  position: absolute;
  font-size: 18px;
  color: black;
}
